@mixin styles {
  color-scheme: dark;

  /* Framework color */
  --main-bg: rgb(27, 27, 30);
  --mask-bg: rgb(68, 69, 70);
  --main-border-color: rgb(44, 45, 45);

  /* Common color */
  --text-color: rgb(175, 176, 177);
  --text-muted-color: #868686;
  --text-muted-highlight-color: #aeaeae;
  --heading-color: #cccccc;
  --label-color: #a7a7a7;
  --blockquote-border-color: rgb(66, 66, 66);
  --blockquote-text-color: #868686;
  --link-color: rgb(138, 180, 248);
  --link-underline-color: rgb(82, 108, 150);
  --button-bg: #1e1e1e;
  --btn-border-color: #2e2f31;
  --btn-backtotop-color: var(--text-color);
  --btn-backtotop-border-color: #212122;
  --card-header-bg: #292929;
  --checkbox-color: rgb(118, 120, 121);
  --checkbox-checked-color: var(--link-color);
  --img-bg: radial-gradient(circle, rgb(22, 22, 24) 0%, rgb(32, 32, 32) 100%);
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(58, 55, 55, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  /* Sidebar */
  --site-title-color: #717070;
  --site-subtitle-color: #868686;
  --sidebar-bg: #1e1e1e;
  --sidebar-border-color: #292929;
  --sidebar-muted-color: #868686;
  --sidebar-active-color: rgb(255, 255, 255, 0.95);
  --sidebar-hover-bg: #262626;
  --sidebar-btn-bg: #232328;
  --sidebar-btn-color: #787878;
  --avatar-border-color: rgb(206, 206, 206, 0.9);

  /* Topbar */
  --topbar-bg: rgb(27, 27, 30, 0.64);
  --topbar-text-color: var(--text-color);
  --search-border-color: rgb(55, 55, 55);
  --search-icon-color: rgb(100, 102, 105);
  --input-focus-border-color: rgb(112, 114, 115);

  /* Home page */
  --post-list-text-color: rgb(175, 176, 177);
  --btn-patinator-text-color: var(--text-color);
  --btn-paginator-hover-color: #2e2e2e;

  /* Posts */
  --toc-highlight: rgb(116, 178, 243);
  --toc-popup-border-color: #373737;
  --tag-hover: rgb(43, 56, 62);
  --tb-odd-bg: #252526; /* odd rows of the posts' table */
  --tb-even-bg: rgb(31, 31, 34); /* even rows of the posts' table */
  --tb-border-color: var(--tb-odd-bg);
  --footnote-target-bg: rgb(63, 81, 181);
  --btn-share-color: #6c757d;
  --btn-share-hover-color: #bfc1ca;
  --card-bg: #1e1e1e;
  --card-hovor-bg: #464d51;
  --card-shadow: rgb(21, 21, 21, 0.72) 0 6px 18px 0,
    rgb(137, 135, 135, 0.24) 0 0 0 1px;
  --kbd-wrap-color: #6a6a6a;
  --kbd-text-color: #d3d3d3;
  --kbd-bg-color: #242424;
  --prompt-text-color: rgb(216, 212, 212, 0.75);
  --prompt-tip-bg: rgb(22, 60, 36, 0.64);
  --prompt-tip-icon-color: rgb(15, 164, 15, 0.81);
  --prompt-info-bg: rgb(7, 59, 104, 0.8);
  --prompt-info-icon-color: #0075d1;
  --prompt-warning-bg: rgb(90, 69, 3, 0.88);
  --prompt-warning-icon-color: rgb(255, 165, 0, 0.8);
  --prompt-danger-bg: rgb(86, 28, 8, 0.8);
  --prompt-danger-icon-color: #cd0202;

  /* Tags */
  --tag-border: rgb(59, 79, 88);
  --tag-shadow: rgb(32, 33, 33);
  --dash-color: rgb(63, 65, 68);
  --search-tag-bg: #292828;

  /* Categories */
  --categories-border: rgb(64, 66, 69, 0.5);
  --categories-hover-bg: rgb(73, 75, 76);
  --categories-icon-hover-color: white;

  /* Archive */
  --timeline-node-bg: rgb(150, 152, 156);
  --timeline-color: rgb(63, 65, 68);
  --timeline-year-dot-color: var(--timeline-color);

  /* Code highlight colors */
  --language-border-color: #2d2d2d;
  --highlight-bg-color: #252525;
  --highlighter-rouge-color: #de6b18;
  --highlight-lineno-color: #6c6c6d;
  --inline-code-bg: #272822;
  --code-color: #b0b0b0;
  --code-header-text-color: #6a6a6a;
  --code-header-muted-color: rgb(60 60 60);
  --code-header-icon-color: rgb(86 86 86);
  --clipboard-checked-color: #2bcc2b;
  --filepath-text-color: #bdbdbd;

  // --language-border-color: #2d2d2d;
  // --highlight-bg-color: #151515;
  // --highlighter-rouge-color: #c9def1;
  // --highlight-lineno-color: #808080;
  // --inline-code-bg: rgba(255, 255, 255, 0.05);
  // --code-color: #b0b0b0;
  // --code-header-text-color: #6a6a6a;
  // --code-header-muted-color: #353535;
  // --code-header-icon-color: #565656;
  // --clipboard-checked-color: #2bcc2b;
  // --filepath-text-color: #cacaca;

  .light {
    display: none;
  }

  /* Categories */
  .categories.card,
  .list-group-item {
    background-color: var(--card-bg);
  }

  .categories {
    .card-header {
      background-color: var(--card-header-bg);
    }

    .list-group-item {
      border-left: none;
      border-right: none;
      padding-left: 2rem;
      border-color: var(--categories-border);

      &:last-child {
        border-bottom-color: var(--card-bg);
      }
    }
  }

  #archives li:nth-child(odd) {
    background-image: linear-gradient(
      to left,
      rgb(26, 26, 30),
      rgb(39, 39, 45),
      rgb(39, 39, 45),
      rgb(39, 39, 45),
      rgb(26, 26, 30)
    );
  }

  /* stylelint-disable-next-line selector-id-pattern */
  #disqus_thread {
    color-scheme: none;
  }

  /* --- Syntax highlight theme from `rougify style base16.dark` --- OLD */
  /* syntax highlight colors from https://raw.githubusercontent.com/jwarby/pygments-css/master/monokai.css */

  .highlight { .gp { color: #818c96; } }

  pre { color: #bfbfbf; } /* override Bootstrap */

  .highlight pre { background-color: var(--highlight-bg-color); }
  .highlight .hll { background-color: var(--highlight-bg-color); }
  .highlight .c { color: #75715e; } /* Comment */
  .highlight .err { color: #960050; background-color: #1e0010; } /* Error */
  .highlight .k { color: #66d9ef; } /* Keyword */
  .highlight .l { color: #ae81ff; } /* Literal */
  .highlight .n { color: #f8f8f2; } /* Name */
  .highlight .o { color: #f92672; } /* Operator */
  .highlight .p { color: #f8f8f2; } /* Punctuation */
  .highlight .cm { color: #75715e; } /* Comment.Multiline */
  .highlight .cp { color: #75715e; } /* Comment.Preproc */
  .highlight .c1 { color: #75715e; } /* Comment.Single */
  .highlight .cs { color: #75715e; } /* Comment.Special */
  .highlight .ge { color: inherit; font-style: italic; } /* Generic.Emph */
  .highlight .gs { font-weight: bold; } /* Generic.Strong */
  .highlight .kc { color: #66d9ef; } /* Keyword.Constant */
  .highlight .kd { color: #66d9ef; } /* Keyword.Declaration */
  .highlight .kn { color: #f92672; } /* Keyword.Namespace */
  .highlight .kp { color: #66d9ef; } /* Keyword.Pseudo */
  .highlight .kr { color: #66d9ef; } /* Keyword.Reserved */
  .highlight .kt { color: #66d9ef; } /* Keyword.Type */
  .highlight .ld { color: #e6db74; } /* Literal.Date */
  .highlight .m { color: #ae81ff; } /* Literal.Number */
  .highlight .s { color: #e6db74; } /* Literal.String */
  .highlight .na { color: #a6e22e; } /* Name.Attribute */
  .highlight .nb { color: #f8f8f2; } /* Name.Builtin */
  .highlight .nc { color: #a6e22e; } /* Name.Class */
  .highlight .no { color: #66d9ef; } /* Name.Constant */
  .highlight .nd { color: #a6e22e; } /* Name.Decorator */
  .highlight .ni { color: #f8f8f2; } /* Name.Entity */
  .highlight .ne { color: #a6e22e; } /* Name.Exception */
  .highlight .nf { color: #a6e22e; } /* Name.Function */
  .highlight .nl { color: #f8f8f2; } /* Name.Label */
  .highlight .nn { color: #f8f8f2; } /* Name.Namespace */
  .highlight .nx { color: #a6e22e; } /* Name.Other */
  .highlight .py { color: #f8f8f2; } /* Name.Property */
  .highlight .nt { color: #f92672; } /* Name.Tag */
  .highlight .nv { color: #f8f8f2; } /* Name.Variable */
  .highlight .ow { color: #f92672; } /* Operator.Word */
  .highlight .w { color: #f8f8f2; } /* Text.Whitespace */
  .highlight .mf { color: #ae81ff; } /* Literal.Number.Float */
  .highlight .mh { color: #ae81ff; } /* Literal.Number.Hex */
  .highlight .mi { color: #ae81ff; } /* Literal.Number.Integer */
  .highlight .mo { color: #ae81ff; } /* Literal.Number.Oct */
  .highlight .sb { color: #e6db74; } /* Literal.String.Backtick */
  .highlight .sc { color: #e6db74; } /* Literal.String.Char */
  .highlight .sd { color: #e6db74; } /* Literal.String.Doc */
  .highlight .s2 { color: #e6db74; } /* Literal.String.Double */
  .highlight .se { color: #ae81ff; } /* Literal.String.Escape */
  .highlight .sh { color: #e6db74; } /* Literal.String.Heredoc */
  .highlight .si { color: #e6db74; } /* Literal.String.Interpol */
  .highlight .sx { color: #e6db74; } /* Literal.String.Other */
  .highlight .sr { color: #e6db74; } /* Literal.String.Regex */
  .highlight .s1 { color: #e6db74; } /* Literal.String.Single */
  .highlight .ss { color: #e6db74; } /* Literal.String.Symbol */
  .highlight .bp { color: #f8f8f2; } /* Name.Builtin.Pseudo */
  .highlight .vc { color: #f8f8f2; } /* Name.Variable.Class */
  .highlight .vg { color: #f8f8f2; } /* Name.Variable.Global */
  .highlight .vi { color: #f8f8f2; } /* Name.Variable.Instance */
  .highlight .il { color: #ae81ff; } /* Literal.Number.Integer.Long */
  .highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
  .highlight .gd { color: #f92672; background-color: #561c08; } /* Generic.Deleted & Diff Deleted */
  .highlight .gi { color: #a6e22e; background-color: #0b5858; } /* Generic.Inserted & Diff Inserted */
}